<div class = "itinerary-section-container">

  <button class = "delete-itinerary-section-button">Delete Section</button>

  <!-- renders an input for the title of each section -->
  <div class = "section-title-container">

    <input class = "section-title-input" data-id = {{id}} value = "{{title}}">

  </div>

  <div class = "trip-categories-container">
    <!-- renders a category title for & a button to add new items related to transport
        also renders an editable partial for each item related to transport that already exist -->
    <div class = "trip-section-category">

      <h3 class = "item-category-title">Transportation</h3>
      <button class = "add-itinerary-item-button"><span class="material-symbols-outlined">
add
</span></button>

      {{#if transportItems}}
        {{#each transportItems as |transportItem|}}
          <div class = "itinerary-item-container" data-id = {{id}}>
            
            {{> edit-item-details}}

            <h4>Choose an Image (up to 10 MB):</h4>
            <input type = "file" accept = "image/*" class = "user-uploaded-image" id = "fileInputTransport{{@index}}" style = "display:none;">
            <label for = "fileInputTransport{{@index}}" class = "custom-file-upload">Choose File</label>

            <div class = "edit-page-image-container">

              <div class = "edit-page-image-block">

                <h4>Preview:</h4>
                <img class = "preview-image" src = '/images/no-image-stock-photo.png'>
                <button class = "clear-preview-image-button">Clear Chosen Image</button>

              </div>

              {{#if image}}
                <div class = "edit-page-image-block">

                  <h4>Current Image:</h4>
                  <img class = "item-image" src = "/images/multer-uploads/{{image}}">
                  <button class = "clear-current-image-button">Clear Current Image</button>
                
                </div>
              {{/if}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>

    <!-- renders a category title for & a button to add new items related to accomodation
        also renders an editable partial for each item related to accommodation that already exist -->
    <div class = "trip-section-category">

      <h3 class = "item-category-title">Accommodation</h3>
      <button class = "add-itinerary-item-button"><span class="material-symbols-outlined">
add
</span></button>

      {{#if accommodationItems}}
        {{#each accommodationItems as |accommodationItem|}}
          <div class = "itinerary-item-container" data-id = {{id}}>

            {{> edit-item-details}}

            <h4>Choose an Image (up to 10 MB):</h4>
            <input type = "file" accept = "image/*" class = "user-uploaded-image" id = "fileInputAccommodation{{@index}}" style = "display:none;">
            <label for = "fileInputAccommodation{{@index}}" class = "custom-file-upload">Choose File</label>

            <div class = "edit-page-image-container">

              <div class = "edit-page-image-block">

                <h4>Preview:</h4>
                <img class = "preview-image" src = '/images/no-image-stock-photo.png'>
                <button class = "clear-preview-image-button">Clear Chosen Image</button>

              </div>

              {{#if image}}
                <div class = "edit-page-image-block">

                  <h4>Current Image:</h4>
                  <img class = "item-image" src = "/images/multer-uploads/{{image}}">
                  <button class = "clear-current-image-button">Clear Current Image</button>
                
                </div>
              {{/if}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>

    <!-- renders a category title for & a button to add new items related to food
        also renders an editable partial for each item related to food that already exist -->
    <div class = "trip-section-category">

      <h3 class = "item-category-title">Food</h3>
      <button class = "add-itinerary-item-button"><span class="material-symbols-outlined">
add
</span></button>

      {{#if foodItems}}
        {{#each foodItems as |foodItem|}}
          <div class = "itinerary-item-container" data-id = {{id}}>

            {{> edit-item-details}}

            <h4>Choose an Image (up to 10 MB):</h4>
            <input type = "file" accept = "image/*" class = "user-uploaded-image" id = "fileInputFood{{@index}}" style = "display:none;">
            <label for = "fileInputFood{{@index}}" class = "custom-file-upload">Choose File</label>

            <div class = "edit-page-image-container">

              <div class = "edit-page-image-block">

                <h4>Preview:</h4>
                <img class = "preview-image" src = '/images/no-image-stock-photo.png'>
                <button class = "clear-preview-image-button">Clear Chosen Image</button>

              </div>

              {{#if image}}
                <div class = "edit-page-image-block">

                  <h4>Current Image:</h4>
                  <img class = "item-image" src = "/images/multer-uploads/{{image}}">
                  <button class = "clear-current-image-button">Clear Current Image</button>
                
                </div>
              {{/if}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>

    <!-- renders a category title for & a button to add new items related to activities / things to do
        (entertainment, shopping, historical sites to visit, etc.), and also renders an editable partial
        for each item related to activities (et al.) that already exist -->
    <div class = "trip-section-category">

      <h3 class = "item-category-title">Activities</h3>
      <button class = "add-itinerary-item-button"><span class="material-symbols-outlined">
add
</span></button>

      {{#if activityItems}}
        {{#each activityItems as |activityItem|}}
          <div class = "itinerary-item-container" data-id = {{id}}>

            {{> edit-item-details}}

            <h4>Choose an Image (up to 10 MB):</h4>
            <input type = "file" accept = "image/*" class = "user-uploaded-image" id = "fileInputActivities{{@index}}" style = "display:none;">
            <label for = "fileInputActivities{{@index}}" class = "custom-file-upload">Choose File</label>

            <div class = "edit-page-image-container">

              <div class = "edit-page-image-block">

                <h4>Preview:</h4>
                <img class = "preview-image" src = '/images/no-image-stock-photo.png'>
                <button class = "clear-preview-image-button">Clear Chosen Image</button>

              </div>

              {{#if image}}
                <div class = "edit-page-image-block">

                  <h4>Current Image:</h4>
                  <img class = "item-image" src = "/images/multer-uploads/{{image}}">
                  <button class = "clear-current-image-button">Clear Current Image</button>
                
                </div>
              {{/if}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>

    <!-- renders a category title for & a button to add new items miscellaneous items
        also renders an editable partial for each item related to transport that already exist -->
    <div class = "trip-section-category">

      <h3 class = "item-category-title">Misc</h3>
      <button class = "add-itinerary-item-button"><span class="material-symbols-outlined">
add
</span></button>

      {{#if miscItems}}
        {{#each miscItems as |miscItem|}}
          <div class = "itinerary-item-container" data-id = {{id}}>

            {{> edit-item-details}}

            <h4>Choose an Image (up to 10 MB):</h4>
            <input type = "file" accept = "image/*" class = "user-uploaded-image" id = "fileInputMisc{{@index}}" style = "display:none;">
            <label for = "fileInputMisc{{@index}}" class = "custom-file-upload">Choose File</label>

            <div class = "edit-page-image-container">

              <div class = "edit-page-image-block">

                <h4>Preview:</h4>
                <img class = "preview-image" src = '/images/no-image-stock-photo.png'>
                <button class = "clear-preview-image-button">Clear Chosen Image</button>

              </div>

              {{#if image}}
                <div class = "edit-page-image-block">

                  <h4>Current Image:</h4>
                  <img class = "item-image" src = "/images/multer-uploads/{{image}}">
                  <button class = "clear-current-image-button">Clear Current Image</button>
                
                </div>
              {{/if}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>