<!-- if the item has a title attached, render it to the page -->
{{#if title}}
  <!-- if the title has a link attached, apply it to the header -->
  {{#if link}}
    <h3 class = "item-title"><a href = {{link}}>{{title}}</a></h3>
  {{else}} <!-- otherwise, simply render the title header -->
    <h3 class = "item-title">{{title}}</h3>
  {{/if}}
{{/if}}

<!-- if the item has an image attached, render it to the page -->
{{#if image}}
  <img class = "item-image" src = {{image}}>
{{/if}}

<!-- if the item has a start date attached, render it to the page -->
{{#if startDate}}
  <p class = "item-date-time">{{startDate}}</p>
  <!-- if the item has a start time attached, render it to the page -->
  {{#if startTime}}
    <p class = "item-date-time">{{startTime}}</p>
  {{/if}}
{{/if}}

<!-- if the item has an end date attached, render it to the page -->
{{#if endDate}}
  <p class = "item-date-time">{{endDate}}</p>
  <!-- if the item has an end time attached, render it to the page -->
  {{#if endTime}}
    <p class = "item-date-time">{{endTime}}</p>
  {{/if}}
{{/if}}

<!-- if the item has a price attached, render it to the page -->
{{#if price}}
  <p class = "item-price">{{price}}</p>
{{/if}}

<!-- if the item has any notes attached, render them to the page -->
{{#if notes}}
  <p class = "item-notes">{{notes}}</p>
{{/if}}