<div class="grid-container">
{{!-- {{> dashSide}} --}}
<main class="main-container">

<section class="recommendations">
  
    <h1>Results for {{city}}</h1>
    
    <section id="searchsection">
        <div class="search">
            <form id="searchForm" class="cityresults-form">
                <label for="cityInput">Search for a different city: </label>
                <input type="text" id="cityInput" name="city">
                <button id="cityresult-submit-button" type="submit">Search</button>
            </form>
        </div>
    </section>

    <div class="locationScore">
        <h2>Location Scores:</h2>
        <div id="locationScoresList">
            <p>What are the popular features of {{city}}?<br>
             Here you can find the popularity score of the surrounding area for different categories,
                based on a radius of 1.5 km. The categories include sights, restaurants, shopping, and nightlife. This list
                helps you find what features are within a close proximity to your location.
            </p>
            <p>
                <strong>Overall Sights:</strong> {{locationData.2.categoryScores.sight.overall}}<br>
                <strong>Historical Sights:</strong> {{locationData.2.categoryScores.sight.historical}}<br>
                <strong>Beach and/or Park:</strong> {{locationData.2.categoryScores.sight.beachAndPark}}<br>
                <strong>Restaurants:</strong> {{locationData.2.categoryScores.restaurant.overall}}<br>
                <strong>Vegetarian Options:</strong> {{locationData.2.categoryScores.restaurant.vegetarian}}<br> 
                <strong>Shopping:</strong> {{locationData.2.categoryScores.shopping.overall}}<br> 
                <strong>Luxury Shopping:</strong> {{locationData.2.categoryScores.shopping.luxury}}<br>
                <strong>Nightlife:</strong> {{locationData.2.categoryScores.nightLife.overall}}
            </p>
        </div>
    </div>

    <div class="pointsofinterest">
        <h2>Points of Interest</h2>
        <p>What are the best places to visit in {{city}}?<br>
            Here you will find a list of top ranked attractions, as voted by travellers. The categories include sights, beach/park, 
            historical, nightlife, restaurant and shopping. Note that these may not be the most visited places, but are the highest
            rated among those visited. These can include local hang outs and tourist attractions.</p>
        <ul id="poiList">
            {{#each poiData}}
            <li>
                Name: <strong>{{name}}</strong> - Type: {{category}}
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="activities">
        <h2>Activities:</h2>
        <p>What are the best tours and activities in {{city}}?<br>
            Here you will find information about top rated activities such as sightseeing
            tours, day trips, museum tickets, and more. If available, you can also find a link to book the activity.
        </p>
        <ul id="activitiesList">
            {{#each activityData}}
            <li>
                <strong>{{name}}</strong><br>
                <p class="activityDescription">{{{description}}}</p><br>

                {{#if price}}
                    Price: {{price.amount}} {{price.currencyCode}}<br>
                {{else}}
                    Price: Not Available<br>
                {{/if}}
                {{#if minimumDuration}}
                    Minimum Duration: {{minimumDuration}}<br>
                {{else}}

                {{/if}}
        
                <h3>Pictures:</h3>
                <div class="poipictures">
                    {{#if pictures}}   
                        {{#each pictures}}
                            <img class="poipic" src="{{this}}" alt="Activity Image"><br>
                        {{/each}}
                    {{else}}
                        <p>No pictures available</p><br>
                    {{/if}}
                </div>
                {{#if bookingLink}}
                    <a href="{{bookingLink}}" target="_blank">Click to Book Now</a><br>
                {{else}}

                {{/if}}
            </li>            
            {{/each}}
        </ul>
    </div>

    <div class="safety">
        <h2>Safety Scores:</h2>
        <p>How safe is {{city}}, and surrounding districts? See the overall danger score, 0-100, for six categories:
            women's safety, health, physical threats, theft, political freedom and LGBTQ safety. The lower the score, the lower the risk.
            It's important to be aware of the safety of your destination, especially if you are travelling alone or with children.
        </p>
        <div id="safetyList">
            {{#each safetyData}}
            <div>
                <strong>{{name}}</strong>,{{subType}}:<br>
                Overall Safety Score: {{safetyScores.overall}}<br>
                Safety for Women: {{safetyScores.women}}<br>
                Health and Medical: {{safetyScores.medical}}<br>
                Physical Threats: {{safetyScores.physicalHarm}}<br>
                Theft: {{safetyScores.theft}}<br>
                Political Freedom: {{safetyScores.politicalFreedom}}<br>
                LGBTQ Safety: {{safetyScores.lgbtq}}<br>
            </div>
            {{/each}}
        </div>
    </div>

</section>

</main>
</div>

<script src="/js/citySearch.js"></script>