<!-- placeholder for trip title -->
<div class = "trip-title-container" data-id = "{{id}}">
  {{#if title}}
    <h1 class = "trip-title-header">{{title}}</h1>
  {{/if}}

  {{#if start_date}}
    {{#if end_date}}
      <h2 class = "trip-date-header">{{start_date}} -> {{end_date}}</h2>
      {{else}}
        <h2 class = "trip-date-header">Start: {{start_date}}</h2>
    {{/if}}
    {{else}}
      {{#if end_date}}
        <h2 class = "trip-date-header">End: {{end_date}}</h2>
      {{/if}}
  {{/if}}

  <h2><a href = "https://pbs.twimg.com/media/FkK0T8cUAAELhOI?format=jpg&name=medium">Total Expenses: ${{{totalExpenses}}}</a></h2>
</div>
<!-- button to switch to edit mode -->
<button class = "open-menu-button"><img src = "/images/gear-icon.png"></button>
<!-- button to switch to edit mode -->
<button class = "edit-itinerary-button"><img src = "/images/pencil-paper-icon.png"></button>

<div class = "trip-sections-container"></div>
  <!-- render a partial for each section of the trip -->
  {{#each sections as |section|}}
    {{> view-section-details}}
  {{/each}}
</div>

<div class = "settings-modal modal">
    
    <div class = "modal-content">

      <span class = "close itinerary-settings-close">&times;</span>
      <h3>Make this itinerary publically visible?</h3>
      <p>Only you will have edit privileges</p>
      <label class = "switch">

        <input class = "public-checkbox" type = "checkbox">
        <span class = "slider round"></span>

      </label>

    </div>
</div>

<script src = "/js/viewItinerary.js"></script>